<?xml version="1.0"?>
<config>
	<modules>
		<Lyrajane_HelloWorld>
			<version>0.1.0</version>
		</Lyrajane_HelloWorld>
	</modules>
	<frontend>
		<routers>
			<helloworld>
				<use>standard</use>
				<args>
					<module>Lyrajane_HelloWorld</module>
					<frontname>HelloWorld</frontname>
				</args>
			</helloworld>
		</routers>
	</frontend>
</config>
