<config>
	<modules>
		<Catindustry_Hellocats>
			<version>0.1.0</version>
		</Catindustry_Hellocats>
	</modules>
	<frontend>
		<routers>
			<hellocats>
				<use>standard</use>
				<args>
					<module>Catindustry_Hellocats</module>
					<frontName>hellocats</frontName>
				</args>
			</hellocats>
		</routers>
	</frontend>
	<layout>
		<updates>
            <hellocats>
            <file>local.xml</file>
            </hellocats>
         </updates>
	</layout>
	<global>
		<blocks>
			<hellocats>
				<class>Catindustry_Hellocats_Block</class>
			</hellocats>
		</blocks>
	</global>
</config>