<config>
	<modules>
		<Catindustry_Hellocats>
			<version>0.1.0</version>
		</Catindustry_Hellocats>
	</modules>
	<frontend>
		<routers>
			<hellocats>
				<use>standard</use>
				<args>
					<module>Catindustry_Hellocats</module>
					<frontName>hellocats</frontName>
				</args>
			</hellocats>
		</routers>
		<layout>
            <updates>
                <hellocats_index_layouttemplate>
                	<!--  probably smart to rename this -->
                    <file>local.xml</file>
                </hellocats_index_layouttemplate>
            </updates>
        </layout>
	</frontend>
	<global>
		<blocks>
			<hellocats>
				<class>Catindustry_Hellocats_Block</class>
			</hellocats>
		</blocks>
	</global>
</config>