<config>
	<modules>
		<Weblog_Blogtesting>
			<version>0.1.0</version>
		</Weblog_Blogtesting>
	</modules>
	<frontend>
		<routers>
			<blogtesting>
				<use>standard</use>
				<args>
					<module>Weblog_Blogtesting</module>
					<frontName>blogtesting</frontName>
				</args>
			</blogtesting>
		</routers>
	</frontend>
	<global>
		<models>
			<blogtesting>
				<class>Weblog_Blogtesting_Model</class>
				<resourceModel>blogtesting_resource</resourceModel>
			</blogtesting>
			<blogtesting_resource>
				<class>Weblog_Blogtesting_Model_Resource</class>
				<entities>
					<readpost>
						<table>blog_posts</table>
					</readpost>
				</entities>
			</blogtesting_resource>
		</models>
	</global>
	
	
</config>